/! Meta
meta name="keywords" content="#{data.site.keywords.join(', ')}"

/! Open Graph
meta property="og:title" content="#{data.site.title}"
meta property="og:image" content="#{data.site.canonical_url}/images/sharing_image.jpg"
meta property="og:url" content="#{data.site.canonical_url}"
meta property="og:description" content="#{data.site.description}"

/! Twitter
meta name="twitter:card" content="summary"
meta name="twitter:site" content="@oof_studio"
meta name="twitter:title" content="#{data.site.title}"
meta name="twitter:description" content="#{data.site.description}"
meta name="twitter:image" content="#{data.site.canonical_url}/images/sharing_image.jpg"
