body
  background-color: $color-white

section
  padding: 2rem 4rem

  &:not(:last-child)
    padding-bottom: 0

  +mobile
    padding: 1rem

article
  +outer-container
  
a
  color: inherit
  
  &:hover
    text-decoration: none
    font-style: italic

// Misc

address
  font-style: normal
