html
  font-family: $type-family-sans
  font-weight: 500
  font-size: $type-size-base
  line-height: $type-leading-base
  font-variant-alternates: stylistic(user-defined-ident)
  color: $color-oof

  +mobile
    font-size: $type-size-mobile
    line-height: $type-leading-mobile

h1,
h2,
h3,
h4,
h5,
h6
  font: inherit
  margin: 0 0 1rem 0

h1
  font-weight: 900
  font-size: 2rem

p
  margin: 0 0 1rem 0

strong
  font-weight: 900

ul
  padding-left: 0

  li
    padding-left: 1rem
    list-style: none
    position: relative

    &::before
      content: '-'
      position: absolute
      top: 0
      left: 0
