html
  font-family: $type-family-sans
  font-weight: 500
  font-size: $type-size-base
  line-height: $type-leading-base
  font-variant-alternates: stylistic(user-defined-ident)

h1,
h2,
h3,
h4,
h5,
h6
  font: inherit
  margin: 0 0 1rem 0

h1
  font-weight: 900

p
  margin: 0 0 1rem 0

strong
  font-weight: 900
