footer
  background-color: $color-oof
  color: $color-white


  .profile,
  .contact
    +span-columns(6)

    +mobile
      +span-columns(12)

  .copyright
    font-size: 0.5rem
    color: rgba($color-white, 0.5)
